## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Los Llanos De Aridane,ES,28.6585,-17.9182,69.55,91,20,16.11,few clouds
1,1,Coahuayana,MX,18.7333,-103.6833,89.47,62,37,6.04,scattered clouds
2,2,Rikitea,PF,-23.1203,-134.9692,69.21,54,0,0.89,clear sky
3,3,Hefei,CN,31.8639,117.2808,77.02,94,0,4.47,clear sky
4,4,Buala,SB,-8.1450,159.5921,79.81,84,88,8.79,light rain

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Los Llanos De Aridane,ES,28.6585,-17.9182,69.55,91,20,16.11,few clouds
1,1,Coahuayana,MX,18.7333,-103.6833,89.47,62,37,6.04,scattered clouds
2,2,Rikitea,PF,-23.1203,-134.9692,69.21,54,0,0.89,clear sky
3,3,Hefei,CN,31.8639,117.2808,77.02,94,0,4.47,clear sky
4,4,Buala,SB,-8.1450,159.5921,79.81,84,88,8.79,light rain
6,6,Nikolskoye,RU,59.7035,30.7861,60.69,67,31,3.42,scattered clouds
7,7,Port Blair,IN,11.6667,92.7500,82.06,84,100,20.13,light rain
10,10,Albany,US,42.6001,-73.9662,84.09,44,74,1.99,broken clouds
11,11,Cidreira,BR,-30.1811,-50.2056,63.59,65,0,5.57,clear sky
14,14,Kapaa,US,22.0752,-159.3190,82.38,80,75,5.99,light rain

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             451
City                   451
Country                448
Lat                    451
Lng                    451
Max Temp               451
Humidity               451
Cloudiness             451
Wind Speed             451
Current Description    451
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Los Llanos De Aridane,ES,28.6585,-17.9182,69.55,91,20,16.11,few clouds
1,1,Coahuayana,MX,18.7333,-103.6833,89.47,62,37,6.04,scattered clouds
2,2,Rikitea,PF,-23.1203,-134.9692,69.21,54,0,0.89,clear sky
3,3,Hefei,CN,31.8639,117.2808,77.02,94,0,4.47,clear sky
4,4,Buala,SB,-8.1450,159.5921,79.81,84,88,8.79,light rain
...,...,...,...,...,...,...,...,...,...,...
676,676,Katsuura,JP,35.1333,140.3000,79.11,85,5,8.41,clear sky
678,678,Makaha,US,21.4694,-158.2175,84.11,78,90,6.91,overcast clouds
679,679,Paraiso,CR,9.8383,-83.8656,67.87,84,100,3.31,overcast clouds
680,680,Ayorou,NE,14.7308,0.9174,84.34,54,100,6.78,overcast clouds
682,682,Praia Da Vitoria,PT,38.7333,-27.0667,79.05,73,40,14.74,scattered clouds

In [10]:
#4c.Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             448
City                   448
Country                448
Lat                    448
Lng                    448
Max Temp               448
Humidity               448
Cloudiness             448
Wind Speed             448
Current Description    448
dtype: int64

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Los Llanos De Aridane,ES,69.55,few clouds,28.6585,-17.9182,
1,Coahuayana,MX,89.47,scattered clouds,18.7333,-103.6833,
2,Rikitea,PF,69.21,clear sky,-23.1203,-134.9692,
3,Hefei,CN,77.02,clear sky,31.8639,117.2808,
4,Buala,SB,79.81,light rain,-8.1450,159.5921,
6,Nikolskoye,RU,60.69,scattered clouds,59.7035,30.7861,
7,Port Blair,IN,82.06,light rain,11.6667,92.7500,
10,Albany,US,84.09,broken clouds,42.6001,-73.9662,
11,Cidreira,BR,63.59,clear sky,-30.1811,-50.2056,
14,Kapaa,US,82.38,light rain,22.0752,-159.3190,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
   
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        pass
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Los Llanos De Aridane,ES,69.55,few clouds,28.6585,-17.9182,Valle Aridane
1,Coahuayana,MX,89.47,scattered clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
2,Rikitea,PF,69.21,clear sky,-23.1203,-134.9692,People ThankYou
3,Hefei,CN,77.02,clear sky,31.8639,117.2808,Jinhuan Hotel
4,Buala,SB,79.81,light rain,-8.1450,159.5921,Maringe Lagoon Lodge
...,...,...,...,...,...,...,...
676,Katsuura,JP,79.11,clear sky,35.1333,140.3000,Katsuura Hotel Mikazuki
678,Makaha,US,84.11,overcast clouds,21.4694,-158.2175,Hawaiian Princess Resort
679,Paraiso,CR,67.87,overcast clouds,9.8383,-83.8656,Rinconcito Verde
680,Ayorou,NE,84.34,overcast clouds,14.7308,0.9174,Hotel Amenokal
682,Praia Da Vitoria,PT,79.05,scattered clouds,38.7333,-27.0667,Hotel Branco I

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Los Llanos De Aridane,ES,69.55,few clouds,28.6585,-17.9182,Valle Aridane
1,Coahuayana,MX,89.47,scattered clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
2,Rikitea,PF,69.21,clear sky,-23.1203,-134.9692,People ThankYou
3,Hefei,CN,77.02,clear sky,31.8639,117.2808,Jinhuan Hotel
4,Buala,SB,79.81,light rain,-8.1450,159.5921,Maringe Lagoon Lodge
...,...,...,...,...,...,...,...
676,Katsuura,JP,79.11,clear sky,35.1333,140.3000,Katsuura Hotel Mikazuki
678,Makaha,US,84.11,overcast clouds,21.4694,-158.2175,Hawaiian Princess Resort
679,Paraiso,CR,67.87,overcast clouds,9.8383,-83.8656,Rinconcito Verde
680,Ayorou,NE,84.34,overcast clouds,14.7308,0.9174,Hotel Amenokal
682,Praia Da Vitoria,PT,79.05,scattered clouds,38.7333,-27.0667,Hotel Branco I

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [24]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))